@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url(/styles/header.css);
@import url(/styles/caminho.css);
@import url(/styles/footer.css);

:root
{
    --cinza-claro                 : rgb(226, 226, 226);
    --cinza-escuro                : #272727;
    --gradiente-azul              : linear-gradient(to right bottom, #204a87, #2f5b96, #3e6da4, #4e7fb2, #5f91c0);
    --azul-escuro-dark            : #142E54;
    --azul-escuro                 : #204a87;
    --azul-acinzentado            : rgb(107, 132, 146);
    --azul-medio-transparente     : #95b9f6c5;
    --azul-claro                  : #add5fa;
    --azul-claro-transparente     : #add5fa4f;
    --amarelo-escuro              : rgb(205, 143, 50);
    --salmao                      : #f9a59a;
    --vermelho                    : #fa5f49;
    --laranja-medio               : rgb(233, 104, 29);
    --roxo-medio                  : rgb(97 95 217);

    --preto-transparente-sombra   : rgba(0, 0, 0, 0.5);
    --cinza-claro-seta-disabled   : rgb(201, 198, 198);
    --cinza-medio-seta-disabled   : rgb(163, 159, 159);
    --azul-escuro-navbar          : rgb(74, 63, 138);
    --azul-escuro-navbar-titulo   : rgb(61, 86, 167);
}

body
{
    font-family   : 'Inter';
    scroll-behavior: smooth;
}