.rodape
{
    font-family        : 'Silkscreen';
    width              : 100%;
    height             : 35vmax;
    box-sizing         : border-box;
    padding            : 2em 1em;
    background-color   : var(--azul-escuro);

    display            : grid;
    justify-items      : center;
    gap                : 2em;
}

.rodape__nome
{
    font-size     : 2em;
    font-weight   : 600;
    text-shadow   : 3px 3px var(--azul-escuro-dark);
}

.rodape__links
{
    width   : 100%;
    
    display: grid;
    gap: 1em;
    grid-template-columns: 50%;
    justify-content: center;
}

.rodape__links__logo
{
    text-decoration   : none;
    
    display           : flex;
    align-items       : center;
    gap               : 1em;
}

.rodape__links__logo span
{
    display               : flex;
    align-items           : center;
    justify-content       : center;
    width                 : 32px;
    height                : 32px;
    background-repeat     : no-repeat;
    background-position   : center;
    background-size       : contain;
}

.rodape__links__texto
{
    font-size         : 1.2em;
    text-shadow       : 1px 2px #666666;
    text-decoration   : none;
    color             : black;
}

.linkedin
{
    background-image   : url(/images/linkedin-logo.png);
}

.github
{
    background-image   : url(/images/github-logo.png);
}

.portfolio
{
    display            : flex;
    align-items        : center;
    justify-content    : center;
    
    font-weight        : 700;
    font-style         : italic;
    background-color   : var(--cinza-escuro);
    color              : whitesmoke;
    border-radius      : 8px;
    border             : 1px solid rgba(58, 58, 58, 0.959);
}

@media screen and (min-width: 1024px) 
{
    .rodape
    {
        height: 30vh;
    }

    .rodape__links
    {
        display: flex;
        justify-content: center;
    }

    .rodape__links__logo
    {
        padding: .5em 1em;
        border-radius: 4px;
        transition: all 500ms;
    }

    .rodape__links__logo:hover
    {
        background-color: var(--azul-escuro-dark);
        transform: scale(1.2);
    }

    .rodape__links__texto
    {
        transition: all 500ms;
    }

    .rodape__links__logo:hover .rodape__links__texto
    {
        transform: rotateX(360deg);
        color: var(--cinza-claro);
    }
}