.cabecalho
{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--preto-transparente-borda-separadora);
    padding: 1em;
    background-color: var(--azul-escuro);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 3px 8px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo
{
    display: block;
    font-family: 'Lemonada';
    font-weight: 800;
    font-size: 1.1em;
    font-style: italic;
    color: #e6b33d;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: .5em;
}

.cabecalho__logo__imagem
{
    grid-row: span 2;
    width: 50px;
}

.cabecalho__menu.material-symbols-outlined
{
    font-size: 45px;
    color: whitesmoke;
}

.cabecalho__navegacao
{
    position: fixed;
    top: 117px;
    right: 0;
    width: 300px;
    box-sizing: border-box;
    z-index: 5;
    background-color: var(--azul-escuro);
    padding: 3em 1.5em;
    transition: all 500ms;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.75);
    border-radius: 8px 0 0 8px;
}

.cabecalho__navegacao--recolhido
{
    transform: translateX(230px);
}

.cabecalho__navegacao__lista
{
    display: inline-grid;
    justify-items: flex-start;
    gap: 3em;
}

.cabecalho__navegacao__lista__itens__link
{
    text-decoration: none;
    color: whitesmoke;

    display: flex;
    align-items: center;
    gap: 2em;
}

.cabecalho__navegacao__lista__itens__link .material-symbols-outlined
{
    font-size: 30px;
    color: whitesmoke;
}
