.principal
{
    padding      : 1em;
    width        : 100%;
    min-height   : 58vmax;
    box-sizing   : border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__titulo
{
    font-size     : 1.5em;
    margin-top    : 1em;
    text-align    : center;
    font-weight   : 700;
    color         : var(--cinza-escuro);
}

.principal__setas
{
    margin: 1em 0;
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.principal__setas .material-symbols-outlined
{
    color: var(--azul-escuro-dark);
    font-size: 32px;
    padding: .2em;
    border: 2px solid var(--azul-escuro);
    border-radius: 100%;

    transition: all 250ms;
}

.principal__setas .principal__setas__icone--desativado
{
    background-color: var(--cinza-claro-seta-disabled);
    border-color: var(--cinza-claro-seta-disabled);
    color: var(--cinza-medio-seta-disabled);
}

.principal__resolucao
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

.principal__resolucao__enunciado_link
{
    margin: 10px 0;
}

.principal__resolucao__enunciado_link a
{
    color: var(--roxo-medio);
}

.principal__resolucao__titulo
{    
    font-size: 1.3em;
    font-weight: 600;
    margin: 30px 0;
}

pre
{
    width: 90%;
    height: auto;
    
    background-color: #e6e6e6;
    box-shadow: 1px 1px 6px 1px #00000057;

    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px;
    margin: 10px 0;

    overflow: auto;
}

pre l:not(:last-child)
{
    display: inline-block;
    margin-bottom: 5px;
}

pre l::before
{
    content: attr(data-line-number);
    display: inline-block;
    width: auto;
    height: auto;

    margin-right: 30px;
    color: var(--roxo-medio);
}

.principal__resolucao__estrofe
{
    text-align: justify;
    margin: 10px 0;
    font-weight: 300;
    line-height: 20px;
}

.principal__resolucao__estrofe code,
.principal__resolucao__obs code
{
    display: inline-block;
    background-color: whitesmoke;
    color: var(--azul-escuro);

    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 0.8em;
    font-weight: 500;
}

.principal__resolucao__estrofe strong,
.principal__resolucao__obs strong
{
    font-weight: 500;
    color: var(--azul-escuro);
}

.principal__resolucao__estrofe em,
.principal__resolucao__obs em
{
    font-weight: 400;
    font-style: italic;
}

.principal__resolucao__obs
{
    min-width: 60%;
    max-width: 80%;
    margin: 10px 0;
    padding: 20px;

    box-shadow: 2px 2px 5px #0000008c;
    border-left: 5px solid salmon;
}

.principal__resolucao__resposta_final
{
    min-width: 50%;
    padding: 20px;
    margin: 10px 0;

    border: 1px dashed rgb(216, 216, 216);
    box-shadow: 2px 2px 5px #0000008c;

    text-align: center;
}

.principal__resolucao__resposta_final span:nth-child(1)
{
    font-weight: 500;
}

.principal__resolucao__resposta_final span:nth-child(2)
{
    font-weight: 700;
    color: var(--azul-escuro-dark);
}

@media screen and (min-width: 1024px) {
    .principal__titulo
    {
        font-size: 2em;
    }
    
    .principal__setas .material-symbols-outlined:hover:not(.principal__setas__icone--desativado)
    {
        background-color: var(--azul-escuro);
        color: whitesmoke;
    }

    .principal__resolucao__titulo
    {
        font-size: 1.6em;
    }
    
    pre
    {
        width: auto;
        min-width: 250px;
        max-width: 80%;
    }

    .principal__resolucao__estrofe
    {
        width: 60%;
        font-size: 1.1em;
        line-height: 22px;
    }

    .principal__resolucao__resposta_final
    {
        min-width: 20%;
    }
}